@import url('https://fonts.googleapis.com/css?family=Lato');

/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif !important;
}

body {
    background-color: white;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.wrapper {
    background-color: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    border-radius: 100rem 100rem;
}

header {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1.5rem;
}

a, a:link, a:active, a:visited, a:focus {
    text-decoration: none;
    color: inherit;
}

h1 {
    color: hsl(0,0%,10%);
}

h2 {
    margin-top: .5rem;
    font-weight: 400;
    color: hsl(0,0%,10%);
}

main {
    margin-top: 1.5rem;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.icon {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 50% 50%;
    border: 1px solid hsl(0,0%,15%);
    transition: all 100ms ease-in-out;
}

.icon .icon-svg {
    color: hsl(0,0%,15%);
}

.icon:hover {
    background-color: hsl(0,0%,15%);
}

.icon:hover .icon-svg {
    color: hsl(0,0%,85%);
}

/* Responsive */

.wrapper {
    width: 90vw;
    height: 33vh;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

.icon {
    padding: .75rem .75rem;
}

.icon-svg {
    width: 1.75rem;
    height: 1.75rem;
}

main .icon:not(:first-child) {
    margin-left: .5rem;
}

main .icon:not(:last-child) {
    margin-right: .5rem;
}

@media only screen and (min-width: 700px) {
    .wrapper {
        width: 50vw;
    }

    h1 {
        font-size: 3rem;
    }

    .icon {
        padding: 1.5rem 1.5rem;
    }

    .icon-svg {
        width: 2rem;
        height: 2rem;
    }

    main .icon:not(:first-child) {
        margin-left: 1rem;
    }

    main .icon:not(:last-child) {
        margin-right: 1rem;
    }
}

@media only screen and (min-width: 1000px) {
    .wrapper {
        width: 33vw;
    }
}